@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}
label.color-selector {
    width: 100%;
    height: 52px;
    display: flex;
    line-height: 52px;
    padding: 0px 20px;
    align-items: center;
    background: #f8f9fa;
    font-weight: 400 !important;
    border-radius: 100px;
}
label.color-selector input.hidden {
    margin-left: 10px;
    width: 10px;
    height: 10px;
    padding: 0;
    border: 0;
    opacity: 0;
}
span.circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: -10px;
    position: relative;
    border-radius: 50%;
    z-index: 11;
}
.page-titlee, .modal h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    text-align: left !important;

}
.modal h1 {
    font-weight: 600;   
}
.border-bottom-dotted {
    border-bottom: 1px dashed #D9D9D9;
}
.border-top-dotted {
    border-top: 1px dashed #D9D9D9;
}
.border-dotted {
    border: 1px dashed #D9D9D9;
}
.header-mainn-inner ul.navbar-nav > li.nav-item > .nav-link {
    background: #fff;
    padding: 12px 30px;
    border-radius: 50px;
    font-size: 14px;
    cursor: pointer;
}
.header-mainn-inner ul.navbar-nav > li.nav-item > .nav-link.active {
    background: #262626;
    color: #fff;
}
.btn-secondary, .btn-secondary:hover {
    border-color: #262626;
    background-color: #262626;
}
.btn, .form-control, .form-select, .rounded-3 {
    border-radius: 26px !important;
}
.form-control, .form-select {
    min-height: 52px;
    border: 0;
    font-size: 14px;
    padding: 10px 24px;
}
.search-btnn {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 2;
    min-height: 42px;
    min-width: 60px;
}
.btn-primary {
    min-height: 52px;
    padding: 0 32px;
    background: transparent linear-gradient(90deg, #008BD0 0%, #00C4F0 100%) 0% 0% no-repeat padding-box;
    border: 0;
}
.btn {
    font-size: 14px;
}
.formbtn-main-roww button.btn.btn-primary {
    padding: 0 24px !important;
}
/*******6-6-22-css*******/
.btn-secondary {
    height: 36px;
    max-width: 153px;
}

.licence-form-r .form-select {
    background-image: url("data:image/svg+xml,%3Csvg id=%27arrow-down%27 xmlns=%27http://www.w3.org/2000/svg%27 width=%2712%27 height=%2712%27 viewBox=%270 0 12 12%27%3E%3Cpath id=%27Vector%27 d=%27M7.92,0,4.66,3.26a.993.993,0,0,1-1.4,0L0,0%27 transform=%27translate%282.04 4.475%29%27 fill=%27none%27 stroke=%27%23fff%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%271%27/%3E%3Cpath id=%27Vector-2%27 data-name=%27Vector%27 d=%27M0,0H12V12H0Z%27 transform=%27translate%2812 12%29 rotate%28180%29%27 fill=%27none%27 opacity=%270%27/%3E%3C/svg%3E%0A");
    background-position: 97% 50%;
    background-repeat: no-repeat;
}

.modal-body h1 {
    text-align: center !important;
}
.accor-btnn {
    padding: 0 15px !important;
}
.accor-btnn path#Vector-2 {
    display: none;
}
.accor-btnn.collapsed path#Vector-2 {
    display: block;
}
.form-controll {
    height: 54px;
    width: 100%;
    display: flex;
    border:none;
    align-items: center;
    font-size: 14px;
     padding: 0px 20px;
     border-radius: 30px;
     background-color: #00000052;
     color: #fff;
}

.form-controll-d {
    height: 54px;
    width: 100%;
    display: flex;
    border: none;
    align-items: center;
    font-size: 14px;
    padding: 0px 20px;
    border-radius: 30px;
    background-color: #454545;
    color: #fff;
}

#exampleFormControlInput1::placeholder
{
    color:white !important;
}

.mustt{top: 18px;
right: 17px;
font-size: 14px;
color: gainsboro;
}

.accordion-item {
    background: #00000052;
    padding: 0px;
    border-radius: 29px !important;
}
.form-select {
    color: black !important;
    background: #f8f9fa;
}

.licence-form {
    border-top: 1px dashed #d9d9d9;
    padding: 30px 0px 10px;
}

.licence-form-r {
    padding: 5px 0px 10px;
}

.licence-form-r-k {
    padding: 5px 0px 10px;
}
.must-we {
    top: 48px;
    right: 20px;
    font-size: 14px;
    color: #FFFFFF;
    opacity: 0.32;
}

.modal-dialog .modal-content {
    max-height: 90vh;
    overflow-x: hidden;
    overflow-y: auto;
}
input:focus+.must-we-r {
    display: none;
}

input:focus+.must-we-r-o{
    display: none;
}

input:focus+.must-we-r-l
{
display: none;
}

input:focus+.must-we-r-k{
        display: none;
    }

input:focus+.must-we {
    display: none;
}

 .must-we-r,.must-we-r-o, .must-we-r-l {
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    font-size: 14px;
    color: #FFFFFF;
    opacity: 0.32;
}
.prevv a.page-link,
.nextt a.page-link {
    line-height: 31px;
}
.pagination_custom .page-item .page-link {
    background: #fafafa;
    border-color: #fafafa;
    color: #262626;

}
.pagination_custom .page-item.active .page-link {
    background: transparent linear-gradient(90deg, #008BD0 0%, #00C4F0 100%) 0% 0% no-repeat padding-box;
    border-color: #00C4F0;
        color: #fff;
}
.pagination_custom li>a {
    width: 36px;
    height: 36px;
    line-height: 36px;
    padding: 0 0;
    text-align: center;
}div#payment .msg-img {
    display: none;
}
div#payment .edit-account button.nav-link {
    background-color: #262626;
    border-color: #262626;
    color: #fff;
}
div#Premium-Features .edit-account button.nav-link.active {
    color: #262626;
}
.notification_bar .dropdown-menu {
    width: 500px;
    left: auto;
    right: 0;
    padding: 30px 30px 17px;
    border-radius: 20px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
        top: 65px;
}
.notification_bar .dropdown-toggle {
    background: #fff;
    width: 44px;
    height: 44px;
    padding: 0;
    border: 0;
    text-align: center;
}
.bootstrap-select .dropdown-toggle::after {
    width: 8px;
    height: 8px;
    border: 2px solid;
    border-width: 0 0 2px 2px;
    transform: rotate(-45deg);
}
.notification_bar .dropdown-toggle svg.with_hoverrr,
.notification_bar.show .dropdown-toggle svg.without_hoverrr {
    display: none;
    margin: auto;
}
.notification_bar.show .dropdown-toggle svg.with_hoverrr,  .notification_bar .dropdown-toggle svg.without_hoverrr {
    display: block;
    margin: auto;
}
span.notif_countt {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: red;
    top: 0;
    right: 0;
    transition: all 0.3s ease;
}
.btn {
    outline: none !important;
    box-shadow: none !important;
}
.show span.notif_countt {
    border: 2px solid #fff;
    width: 12px;
    height: 12px;
}
.notification_bar.show .dropdown-toggle {
    background: transparent linear-gradient(90deg, #008BD0 0%, #00C4F0 100%) 0% 0% no-repeat padding-box;
}
.notification_bar .dropdown-toggle::active {
    background: transparent linear-gradient(90deg, #008BD0 0%, #00C4F0 100%) 0% 0% no-repeat padding-box;
}
.svg_notif {
    width: 64px;
    height: 64px;
    text-align: center;
    line-height: 65px;
    background: #fafafa;
    border-radius: 50%;
}
.notification_bar .dropdown-toggle:after {
    display: none;
}
.history_contentt table th,
.history_contentt table td {
    border-bottom: 1px dashed #00000036;
    font-size: 14px;
    padding: 17px 0px;
}
.history_contentt table.table {
    border-collapse: unset;
}
.must-we, .must-we-r-k {
    top: 60%;
    transform: translateY(-50%);
    right: 5%;
    font-size: 14px;
    color: #FFFFFF;
    opacity: 0.32;
}

.access-para-line {
    width: 100%;
    max-width: 225px;
    font-size: 14px;
}

.btn.btn-secondary-renew:hover {
    color: white;
}

.btn-secondary:hover {
    color: white;
}

.btn-edit {
    background: white;
    height: 48px;
    max-width: 158px;
    font-size: 12px;
}

.btn-secondary-renew {
    height: 36px;
    max-width: 118px;
    background: #262626;
    color: #fff;
    font-size: 11px;
}

.feature-purchase {
    border: 1px dashed #D9D9D9;
    width: 100%;
    max-width: 463px;
    padding: 7px 12px;
    border-radius: 50px;
    position: relative;
    z-index: 1;
}

.msg-img {
    background: white;
    height: 50px;
    width: 100%;
    max-width: 50px;
    justify-content: center;
    display: flex;
    margin: 0px 0px 0px 14px;
    border-radius: 30px;
    align-items: center;
}
.feature-purchase-entry {
    border: 1px dashed #D9D9D9;
    width: 100%;
    max-width: 1140px;
    padding: 7px 12px;
    border-radius: 50px;
}

.access-para-line-entry {
    font-size: 12px;
}

.header-title-main-inner{
        position: relative;
    }

.premium-feature-btn-edit {
    position: relative;
    z-index: 1;
    width: calc(100% - 160px);
}

.bg-gradiwnt-green {
    background: transparent linear-gradient(90deg, #389E0D 0%, #73D13D 100%) 0% 0% no-repeat padding-box;
}

.bg-gradiwnt-red {
    background: transparent linear-gradient(90deg, #CF1322 0%, #FF4D4F 100%) 0% 0% no-repeat padding-box;
}

/*******6-6-22-css*******/
.form-group label {
    font-weight: 600;
    font-size: 14px;
}
.p-4 {
    padding: 32px !important;
}

.notf-content_mainn h6 {
    font-size: 16px;
    font-weight: 700;
}

.notf-content_mainn p {
    font-size: 14px;
    line-height: 22px;
}

.accordion-body {
    border-top: 1px dashed #d9d9d9;
    margin-top: 0px;
}

.Premium.Features-red-bg-nav {
    background: #cf1322;
    text-align: center;
    padding: 5px 0px;
    position: absolute;
    width: 100%;
    top: 0px;
}

.click-here-link {
    font-size: 12px;
    font-weight: 700;
    color: white;
}

.click-here-link-re{
font-size: 18px;
    font-weight: 700;
    color: white;
}

.popup-paragraph {
    font-size: 18px;
    line-height: 36px;
}

.Premium.Features-red-bg-nav span {
    font-size: 12px;
    line-height: 5px;
    color: white;
}

.accordion-body .form-select{
  color:white !important;
}

.licence-form-r .form-select {
    color: white !important;
}

#exampleModalapi, #exampleModalapi, .modal-body {
    padding-bottom: 15px !important;
}

.notif-iconn_mainn {
    width: 70px;
}
.notf-content_mainn {
    width: calc(100% - 70px);
}
.formbtn-main-roww {
    position: absolute;
    top: -78px;
    left: 50%;
    max-width: 1670px;
    width: 100%;
    transform: translateX(-50%);
    padding: 0 15px;
    text-align: right;
}
.light-blue {
    color: #00C4F0;
}

.edit-account-payment-main {
    margin-top: 5px;
}
.formsearch-coll {
    position: relative;
    z-index: 5;
}
.form-control:focus, .form-switch .form-check-input:focus, .form-select:focus, .btn-check:focus+.btn-secondary, .btn-secondary:focus {
    border: 0 !important;
    box-shadow: none;
}
.bg-gradiwnt {
    background: transparent linear-gradient(90deg, #008BD0 0%, #00C4F0 100%) 0% 0% no-repeat padding-box;
}
.popup-gery .modal-content {
    background: #656565;
    border-radius: 26px;
}
.popup-gery button.btn.btn-secondary {
    border: 1px solid #fff;
    min-height: 44px;
    padding: 0 30px;
}
.popup-gery button.btn.btn-primary {
    background: #ffffff;
    min-height: 44px;
    color: #00c4f0;
}
.popup-gery .modal-dialog {
    max-width: 500px;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%) !important;
    width: calc(100% - 20px);
}
.popup-gery .modal-content .modal-body {
    padding: 30px 25px 0px;
}
.popup-gery .modal-content .modal-footer {
    padding: 25px 20px;
    margin-top:20px;
}
label.file-upload-labell {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 26px;
    background: #f8f9fa;
}
.file-upload-iconn {
    position: absolute;
    left: 5px;
    z-index: 1;
    top: 5px;
    pointer-events: none;
    height: 42px;
    width: 42px;
    border-radius: 26px;
}
label.file-upload-labell:before {
    content: "Browse";
    background: #000;
    height: 42px;
    top: 5px;
    right: 5px;
    position: absolute;
    padding: 0 20px;
    border-radius: 26px;
    line-height: 42px;
    color: #fff;
    font-weight: 500;
}
.form-switch .form-check-input {
    order: 13;
}
.form-switch .form-check-input {
    height: 20px;
    width: 35px;
}
.form-check.form-switch {
    min-height: 52px;
    border-radius: 26px;
}
.premium-features-class {
    padding-top: 3rem !important;
}
.form-group .form-check-label {
    font-weight: 400;
}
::placeholder {
    color: #212529 !important;
}
.form-check-input:checked {
    background-color: #262626;
    border-color: #262626;
}
.multiselct-dropp .dropdown.bootstrap-select.form-select {
    padding: 0;
    width: 100% !important;
}
.multiselct-dropp .dropdown.bootstrap-select.form-select button.btn.dropdown-toggle {
    min-height: 52px;
    line-height: 50px;
    padding: 0 20px;
}
.multiselct-dropp .bootstrap-select .dropdown-toggle:focus, 
.multiselct-dropp .bootstrap-select .dropdown-toggle:active,
.multiselct-dropp .bootstrap-select .dropdown-toggle {
    outline: none !important;
    outline-offset: unset !important;
    box-shadow: none !important;
    border: 0 !important;
}
.filter-option-inner-inner {
    color: #212529;
}
/* width */
::-webkit-scrollbar {
    width: 4px;
    display: none;
}
::-webkit-scrollbar {
    width: 4px;
    display: block;
}
/* Track */
::-webkit-scrollbar-track {
    background: #404040;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #404040;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #000;
}
.display-none {
    display: none;
}
.notification_bar.show .dropdown-toggle {
    position: relative;
    z-index: 99;
}
.show .dropdown_innerr-notif {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    left: 0;
    top: 0;
    z-index: 9;
}
.notif_main-outer {
    padding-left: 5px;
    list-style: none;
    margin-bottom: 0;
    order: 13;
}
.nav_notif-outerr {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
@media only screen and (max-width: 1920px) and (min-width: 1600px) {
    .btn-edit {
        height: 58px;
        max-width: 167px;
        font-size: 14px;
    }

.btn-secondary-renew {
    font-size: 14px;
}

.edit-account-payment-main {
    width: 100%;
    max-width: 307px;
}

.feature-purchase-entry {
    max-width: 1092px;
}

.access-para-line-entry {
    font-size: 14px;
}
}

@media screen and (max-width: 1024px) {
.header-title-main-inner {
    width: 100%;
}
.notification_bar {
    margin-top: 16px;
}

.header-title-main-inner {
    padding: 0px 0px 24px;
}
}

@media screen and (max-width: 767px) {
.header-title-main-inner {
        padding: 0px 14px 24px;
    }

.formbtn-main-roww {
    position: static;
    transform: none;
}

.must-we,
.must-we-r-k {
    font-size: 11px;
        right: 7%;
}

.must-we-r,
.must-we-r-o,
.must-we-r-l {
    font-size: 11px;
        right: 7%;
}

.notification_bar .dropdown-menu {
    width: 339px;
    padding: 21px 14px;
  
}

.popup-btn-row{
  display: flex;
  flex-direction: column;
}

.feature-purchase button {
    margin-top: 10px;
}

.feature-purchase {
    flex-wrap: wrap;
    justify-content: center !important;
    padding: 8px 10px;
}

.page-titlee {
    padding: 14px 0px !important;
}
}

@media screen and (min-width: 768px) {
    .formbtn-main-roww {
        max-width: 750px;
    }
}
@media screen and (min-width: 992px) {
    .formbtn-main-roww {
        max-width: 990px;
    }
}

@media screen and (min-width: 1200px) {
    .formbtn-main-roww {
        max-width: 1170px;
    }
}
@media screen and (min-width: 1400px) {
    .container {
        max-width: 1670px;
    } 
    .formbtn-main-roww {
        max-width: 1670px;
    }
}
@media (max-width: 1199.98px){
.premium-feature-btn-edit {
    flex-wrap: wrap;
}

}
@media (max-width: 991.98px) {
.edit-account-payment-main {
    order: -1;
}
.feature-purchase-entry {
    order: 3;
}
.formbtn-main-roww > button {
    padding: 0 20px;
}
.header-mainn .navbar-collapse {
    position: absolute;
    top: 110px;
    z-index: 99;
    background: #f8f9fa;
    left: 0;
    width: 100%;
    box-shadow: 0 5px 10px 1px rgb(0 0 0 / 10%);
}
/* .nav_notif-outerr .navbar-collapse.show[style="display: none;"] {
    display: block !important;
} */
.header-mainn .navbar-collapse .navbar-nav {
    max-width: 690px;
    margin: auto;
    padding: 20px;
}
}

@media (max-width: 767.98px) {
.formbtn-main-roww {
    top: 80px;
    text-align: center;
}
.history_contentt table th {
    min-width: 130px !important;
}
.history_contentt > .container {
    overflow-x: auto;
}
.feature-purchase>div, .feature-purchase {
    width: 100% !important;
    max-width: none !important;
    text-align: center;
}
.access-para-line {
    max-width: 100%;
}
.page-titlee {
    text-align: center !important;
}
.premium-feature-btn-edit, .edit-account-payment-main .edit-account, .edit-account-payment-main .edit-account button {
    width: 100% !important;
}
.edit-account-payment-main {
    width: calc(100% - 50px);
}
.btn-secondary-renew {
    white-space: nowrap;
}
.btn-edit {
    max-width: none;
}
#Premium-Features .premium-feature-btn-edit {
    justify-content: center;
}
}
@media (max-width: 480.98px) {
    .form-group label, .form-control, .form-select {
        font-size: 13px;
    }
        .btn-secondary-renew {
            max-width: none;
            width: 100% !important;
        }
        .flex-xs-wrap {
            flex-wrap: wrap !important;
        }
        .feature-purchase-entry {
            flex-wrap: wrap;
        }
        .feature-purchase-entry>div, .access-para-line-entry {
            width: 100%;
        }
        .feature-purchase-entry>div:first-child {
            text-align: center;
            margin-bottom: 5px;
        }
}
